install.packages("shiny")
install.packages("shinydashboard")
install.packages("ggplot2")
install.packages("dplyr")
install.packages("lubridate")
install.packages("leaflet")
install.packages("leaflet.extras")
install.packages("plotly")
install.packages("DT")
install.packages("tidyverse")